@import "reset";

$Light_red: hsl(0, 100%, 67%);
$Orangey_yellow: hsl(39, 100%, 56%);
$Green_teal: hsl(166, 100%, 37%);
$Cobalt_blue: hsl(234, 85%, 45%);
$Light_slate_blue_background: hsl(252, 100%, 67%);
$Light_royal_blue_background: hsl(241, 81%, 54%);
$Violet_blue_circle: hsla(256, 72%, 46%, 1);
$Persian_blue_circle: hsla(241, 72%, 46%, 0);
$White: hsl(0, 0%, 100%);
$Pale_blue: hsl(221, 100%, 96%);
$Light_lavender: hsl(241, 100%, 89%);
$Dark_gray_blue: hsl(224, 30%, 27%);

html {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    font-size: 1.125rem;
}

.result-section {
    background-image: linear-gradient($Light_slate_blue_background, $Light_royal_blue_background);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    padding: 2.5rem;
}

.result-title {
    color: $Light_lavender;
    font-size: 1.1rem;
    font-weight: 700;
}

.result-circle {
    background-image: linear-gradient($Violet_blue_circle, $Persian_blue_circle);
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 20% 1fr 1fr 25%;
}

.big-number {
    font-weight: 900;
    color: $White;
    font-size: 3.5rem;
    grid-row: 2 / 3;
    line-height: 120%;
}

.small-number {
    display: block;
    color: $Light_lavender;
    font-size: 1rem;
    font-weight: 500;
    grid-row: 3 / 4;
}

.result-descriptor {
    color: $White;
    font-size: 1.5rem;
}

.result-text {
    color: $Light_lavender;
    font-size: 1rem;
}

.summary-section {
    padding: 2rem;
    display: flexbox;
}

.summary-title {
    font-size: 1.1rem;
}

.category {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem;
    border-radius: 13px;
    font-weight: 700;
    margin: 1rem 0;
}

.reaction {
    background-color: hsla(6, 100%, 98%);
}

.memory {
    background-color: hsl(42,100%,97%);
}

.verbal {
    background-color: hsl(173,53%,97%);
}

.visual {
    background-color: hsl(240,71%,97%);
}

.category > * {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
}

.reaction-text {
    color: hsl(6,65%,65%);
}

.memory-text {
    color: hsl(39,83%,64%);
}

.verbal-text {
    color: hsl(165,41%,49%);
}

.visual-text {
    color: hsl(236,37%,39%);
}

.stat-number {
    grid-column: 9 / 10;
    color: $Dark_gray_blue;
    font-weight: 900;
}

.total-number {
    grid-column: 10 / 13;
    color: hsl(330,1%,64%);
}

.continue-button {
    width: 100%;
    border:transparent;
    border-radius: 30px;
    padding: 0.9rem 0;
    background-color: $Dark_gray_blue;
    color: $White;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}